<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="baseCurrency" value="EUR"/>

    <!-- lähtetetäänkö lasketut tapahtumat oikeasti terminaaliin (true/false) -->
    <add key="sendTransaction" value="true"/>
    
    <!-- value = pilkuilla eroteltu lista, oltava sama maara kaikissa seuraavassa neljassa -->
    <add key="securities1" value="SAVOS SS Equity" />
    <add key="securities2" value="SAVOH FH Equity" />
    <add key="brokers1" value="NORS"/>
    <add key="brokers2" value="NORS"/>
    <add key="expensesEUR1" value="0"/>
    <add key="expensesEUR2" value="0"/>
    <add key="expensesPerc1" value="0.2"/>
    <add key="expensesPerc2" value="0.2"/>
    <add key="currencies1" value="SEK"/>
    <add key="currencies2" value="EUR"/>
    <add key="security1scale" value="1.0"/>
    <add key="security2scale" value="1.0"/>
    <add key="arbiDirections" value="both"/>
    
    <!-- value = lukuarvo -->
    <add key="maxEurPerTrade" value="10000"/>
    <add key="maxEurPerDay" value="50000"/>
    <add key="currencyConversionFeePercent" value="2"/>
    <add key="profitThresholdEur" value="100"/>
    <add key="interval" value="2"/>

  </appSettings>

</configuration>