<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="securities" value="SPY US EQUITY,AAPL 150117C00600000 EQUITY" />
    <add key="maxEurPerTrade" value="100"/>
    <add key="maxEurPerDay" value="1000"/>
    <add key="currencyConversionFeePercent" value="2"/>
    <add key="profitThresholdEur" value="10"/>
    <add key="arbiDirections" value="left,both"/>
  </appSettings>

</configuration>